<h1> Bleh </h1>
<table border=true>
  <% @currencies.each do |currency|%>
    <tr>
      <td><%= currency.name %></td>
      <td><%= currency.currency_type %></td>
      <td><%= currency.denomination %></td>
      <td><%= currency.country %></td>
      <td><%= currency.year %></td>
    </tr>
  <% end %>
</table>
<%= link_to "NEW ONE", new_currencies_path%>
